## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: tool_0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4


## tool_0
[mcu tool_0]
canbus_uuid: 244d48a298ae

## tool_0
[temperature_sensor Tool_0]
sensor_type: temperature_mcu
sensor_mcu: tool_0


[multi_fan T0_partfan] #Part Cooling Fan
pin: tool_0:FAN0

[heater_fan T0_hotend_fan] #Hotend Fan
pin: tool_0:FAN1
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[extruder]
step_pin: tool_0:EXT_STEP
dir_pin: !tool_0:EXT_DIR
enable_pin: !tool_0:EXT_EN
rotation_distance: 27.45
gear_ratio: 50:8
microsteps: 64
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
#Hotend section
heater_pin: tool_0:HE0
sensor_type: Generic 3950
sensor_pin: tool_0:TH0
min_temp: 10
max_temp: 300
max_power: 0.8
min_extrude_temp: 150
max_extrude_only_distance: 200.0
control = pid
#pid_Kp: 4.899
#pid_Ki: 0.199
#pid_Kd: 72.3192
pid_Kp: 16.95
pid_Ki: 0.55
pid_Kd: 106.031

[tmc2209 extruder]
uart_pin: tool_0:EXT_UART
interpolate: true
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

## ADXL345
[adxl345]
cs_pin: tool_0:ADXL_CS
spi_software_sclk_pin: tool_0:ADXL_SCLK
spi_software_mosi_pin: tool_0:ADXL_MOSI
spi_software_miso_pin: tool_0:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    125,125,30

[input_shaper]
shaper_freq_x: 90.2
shaper_type_x: 2hump_ei
damping_ratio_x: 0.069
shaper_freq_y: 38.8
shaper_type_y: mzv
damping_ratio_y: 0.078

[tool_probe T0]
pin: ^tool_0:PROBE_1
tool: 0
x_offset: 0
y_offset: 0
z_offset: -0.745
speed: 30
lift_speed: 40
samples: 3
samples_result: median
sample_retract_dist: 6.0
samples_tolerance: 0.01
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder

[tool T0]
#change this too
tool_number: 0
#if this were T1, then this would be extruder1, etc
extruder: extruder
#Change T0_partfan to tool number
fan: multi_fan T0_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
params_type: 'sc'
#This is the path the tool change takes. Shouldn't have to change it. Unless
#you are using a custom dock
params_sc_path: [{'y':9.5 ,'z':8}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 15.2
params_park_y: 3.0999999999999965
params_park_z: 254.9999999999999
params_safe_y: 50.0
# For InputShaper run per tool and enter the frequency here, the type can not
# be changed currently, so the type will be global and shared
#params_input_shaper_freq_x: 62.4
#params_input_shaper_freq_y: 88.6

[gcode_macro T0]
variable_color: ""
gcode:
  SELECT_TOOL T=0