## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: tool_0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4


## tool_0
[mcu tool_0]
canbus_uuid: 244d48a298ae

## tool_0
[temperature_sensor Tool_0]
sensor_type: temperature_mcu
sensor_mcu: tool_0


[fan T0_partfan] #Part Cooling Fan
pin: tool_0:FAN0

[heater_fan T0_hotend_fan] #Hotend Fan
pin: tool_0:FAN1
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[extruder]
step_pin: tool_0:EXT_STEP
dir_pin: !tool_0:EXT_DIR
enable_pin: !tool_0:EXT_EN
rotation_distance: 27.45
gear_ratio: 50:8
microsteps: 64
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
#Hotend section
heater_pin: tool_0:HE0
sensor_type: Generic 3950
sensor_pin: tool_0:TH0
min_temp: 10
max_temp: 300
max_power: 0.8
min_extrude_temp: 150
max_extrude_only_distance: 200.0
control = pid
pid_Kp: 15.363
pid_Ki: 0.800
pid_Kd: 73.744

[tmc2209 extruder]
uart_pin: tool_0:EXT_UART
interpolate: true
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

## ADXL345
[adxl345]
cs_pin: tool_0:ADXL_CS
spi_software_sclk_pin: tool_0:ADXL_SCLK
spi_software_mosi_pin: tool_0:ADXL_MOSI
spi_software_miso_pin: tool_0:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    125,125,30

[input_shaper]
shaper_freq_x: 58.6
shaper_type_x: mzv
damping_ratio_x: 0.051
shaper_freq_y: 42.4
shaper_type_y: mzv
damping_ratio_y: 0.110