########################################### \
######## MAIN PRINTER CONFIG FILE #########  + --> Entry file to configure your printer configuration :)
########################################### /

# This file is yours! Feel free to edit it in order to include all
# the needed components (adapted to your machine). Also, keep in mind
# that it will not be erased when updating the config using moonraker
# and it will be kept as you've set it.

# ----------------------------------------------------------------------------------------


#-------------------------#
#   HARDWARE COMPONENTS   #
#-------------------------#

# ---------------------------------------------------------------- PRINTER KINEMATICS ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/kinematics/corexy.cfg]      # ex. Voron v2, Trident, ...
# ----------------------------------------------------------------------------------------

# ---------------------------------------------------------------------- MACHINE AXIS ----> Select only one line for each axis
### X axis -------------------------------------------------------------------------------
[include config/hardware/axis/X/0.9deg.cfg]
### Y axis -------------------------------------------------------------------------------
[include config/hardware/axis/Y/0.9deg.cfg]
### Z axis -------------------------------------------------------------------------------
[include config/hardware/axis/Z/V2.4_stock_1.8deg.cfg]
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------- PRINTER DIMENSIONS ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/hardware/axis/size/250mm.cfg]
### These are global default sizes for common machines. If you need to specify a custom size,
### use your overrides.cfg file instead.
# ----------------------------------------------------------------------------------------

# -------------------------------------------------------------------------- EXTRUDER ----> Select only one line
### 1. Motors configuration --------------------------------------------------------------
[include config/hardware/extruder/cw1.cfg]
# ----------------------------------------------------------------------------------------

# ------------------------------------------------------------------------ HEATED BED ----
### --------------------------------------------------------------------------------------
[include config/hardware/bed_heaters/keenovo.cfg] # Used for most machines with NTC100K bed temperature sensors
# ----------------------------------------------------------------------------------------


# ----------------------------------------------------------------------------- PROBE ----> Select only one line
### --------------------------------------------------------------------------------------
## No probe installed, like on a stock Voron V0 or equivalent
# [include config/hardware/probes/no_probe.cfg]

## Inductive probes, like on stock 2.4 or Trident printers (available also in virtual Z endstop variant)
#[include config/hardware/probes/inductive.cfg]
# [include config/hardware/probes/inductive_virtual.cfg]

## Voron TAP, also used naturally as a virtual Z endstop
#[include config/hardware/probes/voron_tap.cfg]
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------------------ FANS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
#[include config/hardware/fans/hotend_fan.cfg]
#[include config/hardware/fans/part_fan.cfg]

# [include config/hardware/fans/hotend_fan_tachometer.cfg] # When having a tachometer monitoring hotend fan speed
# [include config/hardware/fans/part_fan_tachometer.cfg] # When having a tachometer monitoring part fan speed

# [include config/hardware/fans/controller_fan.cfg]
# [include config/hardware/fans/rpi_fan.cfg]
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- DISPLAY ----> Select only one line
### --------------------------------------------------------------------------------------
### If using a display and an MCU board from the same brand (ie. a BTT display
### on a BTT board, or a Fysetc display on a Fysetc board), please use the file
### that correspond to your display brand in the following lines:
[include config/hardware/displays/BTT_mini12864.cfg]
# [include config/hardware/displays/Fysetc_mini12864.cfg]
# [include config/hardware/displays/Fysetc_mini12864_v1.2_v2.0.cfg]

### As BTT and Fysetc have done the wiring exactly the opposite on their boards, if you are mixing
### the brands (ie. a BTT display on a Fysetc board, or the opposite), please use the file
### that correspond to your display brand in the following lines. Also you may have to
### rotate connectors 180 degree according to this documentation: https://docs.vorondesign.com/build/electrical/mini12864_klipper_guide.html
# [include config/hardware/displays/BTT_mini12864_inversed.cfg]
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------- TEMPERATURE SENSORS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
# [include config/hardware/temperature_sensors/rpi_temp.cfg]
# [include config/hardware/temperature_sensors/mcu_temp.cfg]
# [include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg]
# [include config/hardware/temperature_sensors/cabinet_temp.cfg]
[include config/hardware/temperature_sensors/chamber_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp_ds18b20.cfg] # Specific for DS18B20 directly connected to the Pi
# [include config/hardware/temperature_sensors/chamber_temp_toolhead.cfg] # This is to use a toolhead integrated temperature sensor (or an external one as it's done on the LDO Nitehawk)
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------- LIGHTS AND LEDS ----
### --------------------------------------------------------------------------------------
# [include config/hardware/lights/fcob_white.cfg]
#[include config/hardware/lights/neopixel_caselight.cfg]
# [include config/hardware/lights/status_leds.cfg] # Standard StealthBurner style LEDs
# [include config/hardware/lights/status_leds_rainbow_barf.cfg] # Rainbow Barf StealthBurner style LEDs

# The following files are to be used with the LED effect plugin: https://github.com/julianschill/klipper-led_effect
# [include config/hardware/lights/neopixel_caselight_effects.cfg]
# [include config/hardware/lights/status_leds_effects.cfg] # Standard StealthBurner style LEDs
# [include config/hardware/lights/status_leds_rainbow_barf_effects.cfg] # Rainbow Barf StealthBurner style LEDs
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------ FILAMENT SENSORS ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/hardware/filament_sensors/motion_sensor.cfg]
# [include config/hardware/filament_sensors/switch_sensor.cfg]
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------- ACCELEROMETER ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/hardware/accelerometers/adxl345_rpi.cfg] # For ADXL plugged directly on the Pi (official and recommended way)
# [include config/hardware/accelerometers/adxl345_usb.cfg] # For KUBSA, ...
# [include config/hardware/accelerometers/adxl345_usb_rp2040_spi1.cfg] # For Fysetc PortableInputShaper, ...

[include config/hardware/accelerometers/adxl345_ebb.cfg] # For ADXL plugged in BTT EBB36 or EBB42 boards
# ----------------------------------------------------------------------------------------

# ----------------------------------------------------------------- SENSORLESS HOMING ----> Select only one line
### --------------------------------------------------------------------------------------
#[include config/software/sensorless_homing/sensorless_TMC2209.cfg]
# [include config/software/sensorless_homing/sensorless_BTT_TMC2240.cfg]
# [include config/software/sensorless_homing/sensorless_MKS_TMC2240.cfg]

### Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
### to find the best suited SGTHRS value according to your machine. Then add this value to your
### overrides.cfg as stated in the config/software/sensorless_homing.cfg file!
# ----------------------------------------------------------------------------------------

# --------------------------------------------------------------- FIRMWARE RETRACTION ----
### --------------------------------------------------------------------------------------
# [include config/software/firmware_rectraction.cfg]
# ----------------------------------------------------------------------------------------

# ---------------------------------------------------------------------- INPUT SHAPER ----
### --------------------------------------------------------------------------------------
# [include config/software/input_shaper.cfg] # Don't forget to calibrate it!
# ----------------------------------------------------------------------------------------

# --------------------------------------------------------------------------- FILTERS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
# [include config/hardware/filters/exhaust_filter.cfg]
# [include config/hardware/filters/nevermore_filter.cfg]
# ----------------------------------------------------------------------------------------

#---------------------------------#
#   KLIPPER SOFTWARE COMPONENTS   #
#---------------------------------#

# -------------------------------------------------------------------------- BED MESH ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/software/bed_mesh/bed_mesh_250mm.cfg]

### If you need to specify a bed mesh configuration for a custom sized printer, use your
### overrides.cfg file instead. These defaults are only made for common machines sizes
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- TILTING ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/software/tilting/qgl_250mm.cfg]
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------- AUTO Z CALIBRATION ----
### --------------------------------------------------------------------------------------
### This does work only with dockable probes types (it doesn't work with Voron TAP or virtual probes)
### Also don't forget to install the plugin from here: https://github.com/protoloft/klipper_z_calibration
# [include config/software/z_calibration.cfg]
# ----------------------------------------------------------------------------------------


# -------------------------------------------------------------------------- SPOOLMAN ----
### --------------------------------------------------------------------------------------
### You must have the Spoolman plugin installed... from here: https://github.com/Donkie/Spoolman
# [include config/software/spoolman.cfg]
# ----------------------------------------------------------------------------------------



###################################
### DO NOT EDIT BELOW THIS LINE ###
###################################
[include variables.cfg]
#[include mcu.cfg]
[include overrides.cfg]
[include macros_override/*]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default_PLA]
#*# version = 1
#*# points =
#*# 	0.070598, 0.052785, 0.054660, 0.066848, 0.074504
#*# 	0.026535, 0.007629, 0.011848, 0.030129, 0.062785
#*# 	0.007316, -0.000340, -0.000965, 0.019973, 0.042160
#*# 	0.010910, -0.023621, -0.017840, 0.002473, 0.026535
#*# 	0.028879, 0.016379, 0.011379, 0.013879, 0.059660
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 225.0
#*# min_y = 25.0
#*# max_y = 235.0
#*#
#*# [bed_mesh default_PETG]
#*# version = 1
#*# points =
#*# 	0.023613, -0.000137, 0.012988, 0.023769, 0.035175
#*# 	0.026894, -0.004044, 0.007050, 0.008769, 0.038769
#*# 	0.014550, -0.017481, -0.000606, 0.021425, 0.042988
#*# 	0.015019, -0.017950, -0.004356, 0.010644, 0.032050
#*# 	0.033613, 0.024238, 0.024550, 0.025175, 0.068144
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 225.0
#*# min_y = 25.0
#*# max_y = 235.0
#*#
#*# [bed_mesh default_ABS]
#*# version = 1
#*# points =
#*# 	-0.047187, -0.042187, -0.039375, -0.028750, -0.045312
#*# 	-0.024375, -0.010625, 0.006875, -0.018750, 0.003750
#*# 	0.022188, -0.023125, 0.000000, 0.011250, 0.026250
#*# 	0.008437, -0.037500, -0.020625, -0.033750, 0.006562
#*# 	-0.026563, -0.062813, -0.064063, -0.034688, -0.016563
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 225.0
#*# min_y = 25.0
#*# max_y = 225.0
#*#
#*# [cartographer model default]
#*# model_coef = 1.3275089680540677,
#*# 	  1.7225504504695646,
#*# 	  0.7720667098062337,
#*# 	  0.34354039009700676,
#*# 	  0.27504490438961443,
#*# 	  0.5560601491032348,
#*# 	  0.015001780970138498,
#*# 	  -0.6068217522821626,
#*# 	  0.1598500772171804,
#*# 	  0.43540380246256444
#*# model_domain = 3.1522319872299984e-07,3.3606588913087255e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 28.197569
#*# model_offset = 0.00000
